/* Template
item {
    /* Font and Text */

    /* Margin, Display, and Padding */

    /* Color */

    /* Float and Position */

    /*
}
*/


/* ------------------------ Colors ------------------------ */
:root {
    /* Main */
    --rich-black: #0b2027ff;
    --cerulean: #40798cff;
    --verdigris: #70a9a1ff;
    --ash-gray: #cfd7c7ff;
    --cornsilk: #f6f1d1ff;
    --brunswick-green: #31493cff;
    --viridian: #003d33ff;

    /* Alt */
    --desert-sand: #ecc8afff;
    --melon: #e7ad99ff;
    --old-rose: #ce796bff;
    --persian-orange: #c18c5dff;
    --paynes-gray: #495867ff;
    }

/* ------------------------ Fonts ------------------------ */
@font-face {
    font-family: FiraCode;
    src: url(../fonts/fira-code/fira-code-cyrillic-400-normal.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: FiraSans;
    src: url(../fonts/fira-sans/fira-sans-cyrillic-400-normal.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway/raleway-cyrillic-400-normal.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* ------------------------ Classes ------------------------ */
/* Navigation */
.nav-bar {
    /* Font and Text */
    text-align: center;

    /* Margin, Display, and Padding */
    border-radius: 40px;
    border-width: 2rem;
    border-bottom: 2rem;
    margin-inline: 36rem;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;

    /* Color */
    background-color: var(--brunswick-green);

    /* Float and Position */ 
}

.nav-list {
    /* Font and Text */
    text-align: center;
    /* Margin, Display, and Padding */
    margin-top: -0.02rem;

    /* Color */

    /* Position and Style */
    list-style: none;
}

.nav-item {
    /* Font and Text */
    text-align: center;
    /* Margin, Display, and Padding */
    display: inline-block;
    margin-inline: 1.1rem;
    /* Color */

    /* Float and Position */
}

.title {
    /* Font and Text */
    text-align: center;

    /* Margin, Display, and Padding */
    border-radius: 10px;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    margin-top: 2rem;
    /* Color */
    background-color: var(--brunswick-green);

    /* Float and Position */ 
}

.top-main {
    /* Font and Text */

    /* Margin, Display, and Padding */

    /* Color */

    /* Float and Position */
    position: relative;
}

.slideshow {
    /* Font and Text */

    /* Margin, Display, and Padding */
    border-width: 50%;
    width: 100%;
    border-radius: 40px;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    /* Color */
    background-color: var(--rich-black);
    /* Float and Position */ 
}

.quote-container {
    /* Font and Text */

    /* Margin, Display, and Padding */
    border-radius: 24px;
    width: 25%;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    /* Color */
    background-color: var(--brunswick-green);
    /* Float and Position */
    position: absolute;
    top: 35%;
    left: 2%;
}

.bottom-main {
    /* Font and Text */

    /* Margin, Display, and Padding */
    margin-top: 2rem;
    /* Color */

    /* Float and Position */
}

.main-article {
    /* Font and Text */

    /* Margin, Display, and Padding */
    border-radius: 24px;
    width: 45%;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    margin-left: 12rem;
    /* Color */
    background-color: var(--brunswick-green);
    /* Float and Position */
    clear: left;
}

.nathan {
    /* Font and Text */
    
    /* Margin, Display, and Padding */
    border-radius: 24px;
    width: 25%;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    margin-inline: 2rem;
    margin-bottom: 2rem;
    /* Color */
    background-color: var(--brunswick-green);
    /* Float and Position */
    float: right;
}

.page-introduction {
    /* Font and Text */
    text-align: center;
    /* Margin, Display, and Padding */
    margin-top: 8rem;
    margin-inline: 18rem;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    border-radius: 40px;
    /* Color */
    background-color: var(--brunswick-green);
    /* Float and Position */
    position: absolute;
    align-content: center;
}


.cs-skills {
    /* Font and Text */

    /* Margin, Display, and Padding */
    margin-top: 14rem;
    margin-inline: 12rem;
    padding: 1.4rem 1.4rem 1.4rem 1.4rem;
    border-radius: 40px;
    /* Color */
    background-color: var(--brunswick-green);
    /* Float and Position */
}

.personal-strengths {
    /* Font and Text */

    /* Margin, Display, and Padding */
    margin-top: 6rem;
    margin-inline: 12rem;
    padding: 1.4rem 1.4rem 1.4rem 1.4rem;
    border-radius: 40px;
    /* Color */
    background-color: var(--brunswick-green);
    /* Float and Position */
    position: relative;
    top: 35%;
}

.image-container {
    /* Font and Text */

    /* Margin, Display, and Padding */
    inline-size: 40rem;
    margin-inline: 40rem;

    /* Color */

    /* Float and Position */
}

.project-image {
    /* Font and Text */

    /* Margin, Display, and Padding */

    /* Color */

    /* Float and Position */
    position: absolute;
    top: 30%;
}

.project-description {
    /* Font and Text */

    /* Margin, Display, and Padding */
    margin-top: 45rem;
    margin-inline: 16rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 40px;
    /* Color */
    color: var(--rich-black);
    background-color: var(--cerulean);

    /* Float and Position */
    position: relative;
}

/* ------------------------ Tags ------------------------ */
html {
    /* Font and Text */

    /* Margin, Display, and Padding */
    scroll-behavior: smooth;
    /* Color */
    color: var(--verdigris);
    background-color: var(--rich-black);
    /* Float and Position */
    
}

h1 {
    /* Font and Text */

    /* Margin, Display, and Padding */
    
    /* Color */

    /* Float and Position */
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    /* Font and Text */

    /* Margin, Display, and Padding */

    /* Color */
    color: var(--cerulean);
    /* Float and Position */ 
}

a:hover {
    /* Font and Text */

    /* Margin, Display, and Padding */

    /* Color */
    color: var(--ash-gray);
    /* Float and Position */ 
}

a:visited {
    /* Font and Text */

    /* Margin, Display, and Padding */

    /* Color */
    color: var(--cornsilk);
    /* Float and Position */ 
}